documentation
backend/webservice_venv
backend/knowledge_base/crawler
backend/knowledge_base/markdowns/prop_sales_case_studies
backend/knowledge_base/markdowns/sales_case_studies
backend/knowledge_base/markdowns/sales_strategies
backend/knowledge_base/markdowns/about.md
backend/knowledge_base/data_generator/test_md
backend/knowledge_base/data_generator/schema.json
backend/prompts
backend/.env
backend/api/controller/__pycache__
backend/agentic/
backend/api/config/__pycache__
backend/api/model/__pycache__
backend/api/util/__pycache__